@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --shades-blue: #3366ff;
  /* --shades-blue: #0a081a; */
  --shades-black: #101012;
  --shades-white: #ffffff;
  --shades-gray-3: #8f95b2;
  --shades-gray-2: #d4dcf1;
  --shades-gray-1: #fafcfd;
  --shades-purple-1: #ad307b;
  --shades-purple-2: #821958;
  --shades-purple-3: #fcdcef;
  --shades-goldenrod-3: #f5e9cb;
  --shades-goldenrod-2: #a07c22;
  --shades-goldenrod-1: #594510;
  --shades-blue-3: #d1e4fa;
  --shades-blue-2: #2863b8;
  --shades-blue-1: #1f4781;
  --shades-coral: #f66a57;
  --shades-dark-purple-1: #472270;
  --shades-dark-purple-2: #6a498e;
  --shades-dark-purple-3: #e4cefd;
  --shades-dark-brown-1: #5f380e;
  --shades-dark-brown-2: #b26d22;
  --shades-dark-brown-3: #f3dfcc;
  --border: #d9d9d980;
  --shadow: 0 4px 24px #0404040d;
  --overlay: blur(8px);
  --overlay-bg: #00292dbf;
}
